.header__logo {
    max-width: 142px;
    width: 100%;
    min-height: 33.4px;
    padding-bottom: 40.6px;
}

@media screen and (max-width: 1080px) {
    .header__logo {
        max-width: 120px;
        min-height: 30px;
        padding-bottom: 35.6px;
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        max-width: 104px;
        min-height: 24.4px;
        padding-bottom: 31.6px;
    }
}