.popup__button {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 18px auto 36px;
    background-color: #000000;
    color: #FFFFFF;
    max-width: 358px;
    width: 100%;
    min-height: 50px;
    border-radius: 2px;
    border-style: none;
    border: none;
}

.popup__button:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .popup__button {
        max-width: 278px;
    }
}