.profile__info {
    display: grid;
    grid-template-columns: 300px 24px;
    grid-gap: 16px;
    font-family: "Inter", Arial, sans-serif;
    color: #FFFFFF;
    padding: 18px 0 25px 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
    .profile__info {
        grid-template-columns: 250px 16px;
        grid-gap: 14px 0;
        padding: 16px 22px 32px;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width: 768px) {
    .profile__info {
        grid-template-columns: 205px 17px;
        padding: 14px 20px 36px;
    }
}