.profile__button {
    max-width: 150px;
    width: 100%;
    min-height: 50px;
    align-self: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 0;
    margin-left: auto;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1080px) {
    .profile__button {
        max-width: 350px;
    }
}

@media screen and (max-width: 768px) {
    .profile__button {
        max-width: 282px;
    }
}