.header__sign-out {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #A9A9A9;
    text-decoration: none;
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: pointer;
}