.footer__author {
    max-width: 882px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1080px) {
    .footer__author {
        padding: 0 30px;
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (max-width: 768px) {
    .footer__author {
        padding: 0 19px;
        font-size: 14px;
        line-height: 17px;
    }
}